/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image-left
	{
		display: inline;
		width: auto;
	}

		.image-left img
		{
			display: inline;
			width: auto;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}
	
		#nav li
		{
			display: inline;
		}
		
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright 
	{
		width: 100%;
	}
