/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body 
	{
		font-size: 9.5pt;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 2em 0 2em 0;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		font-size: 0.9em;
	}
	
		#nav ul
		{
		}
		
			#nav > ul > li > ul
			{
			}

		#nav li
		{
			padding: 4em 1.50em 4em 3em;
			border-left: 1px solid #2d2d2d;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		text-align: center;
		padding: 5em 0 4em 0;
	}
		
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}
	
		#main .image-left
		{
			width: 50%;
			margin-right: 3em;
		}

		#main .button-padding
		{
			margin-top: 0.50em;
		}

		#main .box-standard h2
		{
			padding: 0.50em 0em 0.25em 0em;
		}