/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.75em;
		font-size: 9.5pt;
		letter-spacing: 0;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
	}

	section,
	article
	{
		clear: both;
		margin: 15px 15px 15px 15px;
	}
	
	.button
	{
		display: block;
		text-align: center;
		padding: 0.75em 0 0.75em 0;
		font-size: 1.25em;
	}

		.button-small
		{
			padding: 1em;
		}
	
		.button-icon:before
		{
			display: none;
		}
		
		.button-icon-page:after
		{
			left: 0.85em;
		}

		.button-icon-page-small:after
		{
			left: 0;
		}

	.box
	{
	}
		
		.box .content
		{
			padding: 3em 1.50em;
		}

	.box-heading
	{
		padding: 3em 1.50em 2em 1.50em;
	}

	.image
	{
		float: none !important;
		clear: both !important;
		margin: 0 0 2em 0 !important;
	}

/*********************************************************************************/
/* Mobile UI                                                                     */
/*********************************************************************************/

	#mobileUI-site-titlebar
	{
		background: url(images/bg01.jpg) repeat-x left top;
		box-shadow: inset 0  0 0 0 #000000, inset 0 -2px 2px -1px #000000;
		border-bottom: 1px solid #2c2c2c;
	}

	#mobileUI-site-title
	{
		line-height: 44px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.50em;
		color: #FFFFFF;
	}

	#mobileUI-site-nav-opener
	{
		text-indent: -9999em;
		background: url('images/mobileUI-site-nav-opener-bg.svg') 14px 14px no-repeat;
		width: 60px;
		height: 44px;
		opacity: 0.25;
	}

		#mobileUI-site-nav-opener:active
		{
			opacity: 1.0;
		}

	#mobileUI-site-nav
	{
		background: #e8e8e8 url('images/bg01.jpg') repeat;
	}

	#mobileUI-site-nav-inner
	{
	}

	.mobileUI-site-nav-link
	{
		display: block;
		color: #fff;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border-top: 1px solid  #000;
		box-shadow: inset 0 1px 0 #1f2228;
		padding: 0 1em 0 1em;
	}
			
			
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#wrapper
	{
		overflow: hidden;
		padding: 0.50em 0em 2em 0em;
		background: #e8e8e8;
		background-size: 100px 300px;
	}

	.homepage #wrapper
	{
		background: #e8e8e8 url(images/bg02.jpg) repeat-x left top;
	}

	#header-wrapper
	{
		display: none;
	}
	
	#banner-wrapper
	{
		margin-bottom: 2em;
	}
	
	#main-wrapper
	{
	}
	
	#footer-wrapper
	{
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		display: none;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		display: none;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		text-align: center;
		padding: 2em 0 1em 0;
	}
	
		#banner h2
		{
			padding: 0em 0em 0.50em 0em;
			font-size: 2em;
			color: #FFFFFF;
		}
		
		#banner .subtitle
		{
			font-size: 1.25em;
			font-family: 'Open Sans Condensed', sans-serif;
			color: #919191;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 3em 0em 3em 0em;
	}
	
	#footer section
	{
		margin-bottom: 2em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}
	
	#main .image-left
	{
		width: 100%;
		margin-right: 0em;
	}
	
	#main .box-standard h2
	{
		padding: 0em 0em 0.25em 0em;
	}

		#main .box-standard .subheading
		{
			padding: 0em 0em 1.25em 0em;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}
	
	#content .image-left
	{
		width: 100%;
		margin-right: 0em;
	}
	
	.right-sidebar #content .image-left
	{
	}

	#content .box-standard h2
	{
		padding: 0em 0em 0.25em 0em;
	}

	#content .box-standard .subheading
	{
		padding: 0em 0em 1.25em 0em;
	}

/*********************************************************************************/
/* Two Column                                                                    */
/*********************************************************************************/

	#two-column 
	{
	}

	#two-column .image-left
	{
		width: 100%;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright 
	{
		padding: 4em 2em 8em 2em;
	}